
.container-fluid {

  
}

.border{
  background-color: rgb(230, 228, 228);
  margin: 5% 25% 0% 25%;
  
}

p{
  text-align: center;
  margin: 20px 0px 10px 0px;
}

.form-group{
  margin: 5px 0px 5px 0px;
}

#opcao{
  margin: 10px 0px 0px 100px;
}
